{% extends "layout/base.html" %}

{% block content %}
<section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1 class="module-title font-alt mb-0">{{ titre_page }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_titre">Titre</label>
            <input type="text" name="titre" maxlength="200" class="form-control" required id="id_titre">
          </div>
          <div class="form-group">
            <label for="id_cover">Image de couverture</label>
            <input type="file" name="cover" class="form-control-file" id="id_cover">
          </div>
          <div class="form-group">
            <label for="id_description">Description</label>
            <textarea name="description" cols="40" rows="10" class="form-control" id="id_description"></textarea>
          </div>
          <div class="form-group">
            <label for="id_date">Date</label>
            <input type="datetime-local" name="date" class="form-control" id="id_date">
          </div>
          <div class="form-group">
            <label for="id_lieu">Lieu</label>
            <input type="text" name="lieu" maxlength="200" class="form-control" id="id_lieu">
          </div>
          <div class="form-group">
            <label for="id_type_evenement">Type d'événement</label>
            <select name="type_evenement" class="form-control" id="id_type_evenement">
              <option value="MARIAGE">Mariage</option>
              <option value="ANNIVERSAIRE">Anniversaire</option>
              <option value="REUNION">Réunion</option>
              <option value="AUTRE">Autre</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-round btn-b" type="submit">Créer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
