asgiref==3.8.1
beautifulsoup4==4.12.3
cachetools==5.5.0
colorama==0.4.6
decorator==5.1.1
Django==5.1.1
django-unicorn==0.61.0
loguru==0.7.2
orjson==3.10.7
pillow==10.4.0
pypng==0.20220715.0
qrcode==7.4.2
shortuuid==1.0.13
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
win32-setctime==1.1.0
