{% load modules_manager_tags%}

<div class="row multi-columns-row">
{% for module in modules %}
<div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
            <div class="features-icon"><span class="{{module.options.icon_class}}"></span></div>
            <h3 class="features-title font-alt">{{module.nom}}</h3>
            {% if module|event_has_module:event.id %}
                {% if module.configurable%}
                    <a href="" class="btn btn-d btn-round btn-xs"> <i class="icon-gears"></i> </a>
                {% endif %}
                <button unicorn:click='remove_event_module({{module.id}})' class="btn btn-round btn-xs btn-danger"> <i class=" fa fa-trash-o"></i> </button>
            {% else %}
                <button unicorn:click='add_event_module({{module.id}})' class="btn btn-border-d btn-round">Activer</button>
            {% endif %} 
        </div>
</div>
{% endfor %}
</div>
